Source: xdg-desktop-portal-gtk
Section: admin
Priority: optional
Maintainer: Mario Sanchez Prada <mario@endlessm.com>
Build-Depends: debhelper (>= 9),
	dh-autoreconf,
	dbus,
	dbus-x11,
	debhelper (>= 9),
	dh-autoreconf,
	dh-exec,
	docbook-xml,
	docbook-xsl,
	docbook-xsl-doc-html,
	gobject-introspection,
	gtk-doc-tools,
	libflatpak-dev,
	libgtk-3-dev,
	libglib2.0-dev,
	libxml2-utils,
	xdg-desktop-portal,
	xsltproc,
	pkg-config
Standards-Version: 3.8.0
Homepage: http://www.endlessm.com

Package: xdg-desktop-portal-gtk
Architecture: any
Depends: ${misc:Depends},
         ${shlibs:Depends}
Description: A backend implementation for xdg-desktop-portal that is using GTK+.
 .
 This package contains the binary xdg-desktop-portal-gtk owning the D-Bus name
 org.freedesktop.impl.portal.desktop.gtk, which is the GTK+ backend implementing
 the different desktop portals implemented by flatpak.
